.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mymargin{
  margin-bottom: 60px;
}

.form-control{
  width: 50% !important;
}

.myfonts{
  color: #23Ba91;
  font-size: 30px;
  font-weight: 600;
}
.borderform{  
  padding: 10px;
  border-style: solid;
  border-width: 10px;
}

/*dfsdfsdfsd*/

h1,h2,p, ul,li{
  font-family: sans-serif;
}

ul.MenuAtas{
  background-color: #23Ba91;
  padding: 20px;
}

ul.MenuAtas li{
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.MenuAtas li a{
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
}
.content {
  background-color: #FFFFFF;
  padding: 20px;
  min-height: 300px;
  line-height: 30px;
}
.content h2{
  padding: 0px;
  margin: 0px;
}

.content li {
  margin-bottom: 10px;
}


input{
  width:100%;
  padding: 5px 0 5px 5px;
  border-radius:0px;
  border:1px solid rgb(30, 180, 160);
}

textarea{
  padding: 5px 0 5px 5px;
  border-radius:0px;
  width:100%;
  height: 100px;
  border:1px solid rgb(30, 180, 160);
}

button{
  padding: 5px 0 5px 5px;
  width:150px;
  border-radius:0px;
  font-weight: bold;
  border:1px solid rgb(30, 180, 160);
}
/*uhsah*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
